<?xml version="1.0" encoding="UTF-8"?>

<IDataXMLCoder version="1.0">
  <record javaclass="com.wm.data.ISMemDataImpl">
    <value name="http://vadigcs61730.eur.ad.sag:31000">2e11d0c8-504b-4b37-b13b-ab9ee3b54140</value>
  </record>
</IDataXMLCoder>
